<!doctype html>
<html>
<head>
    <title>B2C-PasportJS-WebApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #313030;">
        <a class="navbar-brand navbar-text" href="/"><span class="fas fa-lock"></span> B2C-PassportJS Login App</a>
        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
            <span class="line"></span> 
            <span class="line"></span> 
            <span class="line" style="margin-bottom: 0;"></span>
        </button>
      
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">  
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">            
            </ul>         
            <ul class="navbar-nav navbar-right">
                <% if (!user) { %>
                    <li class="nav-item active">
                        <a class="btn btn-custom" href="/login/?p=B2C_1A_EMBEDDEDSIGNIN_SIGNUP_SIGNIN" id="signIn" style="color: rgb(240, 238, 235);"><i class="fas fa-sign-in-alt"></i> SignIn</a>
                    </li>                    
                <% } else { %>
                    <li class="nav-item active">
                        <div class="dropdown show">
                            <a class="btn btn-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user" aria-hidden="true"></i> <%= user.displayName %>
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="/profile"><i class="fas fa-id-badge"></i> Profile</a>
                              <a class="dropdown-item" href="/login/?p=B2C_1A_EMBEDDEDSIGNIN_PASSWORDRESET"><i class="fas fa-key" aria-hidden="true"></i> Reset Password</a>
                            </div>
                        </div>
                    </li>
                     <li class="nav-item active">
                        <a class="btn btn-custom" href="/logout" ><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                     </li>                                 
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="page-header text-left">
            <h1><span class="fas fa-address-card"></span> User Profile</h1>
            <hr>
        </div>
    
        <div class="row">
    
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <% if (!user) { %>
                    <h2>Please log in.</h2>
                    <a href="/login">Log In</a>       
                    <% } else { %>
                    <h3><span class="fas fa-user"></span> <%= user.displayName %></h3>
                    <div class="container profile-container"> 
                        <table class="table">
                            <tr>
                                <td>Name:  <%= user.displayName %></td>
                            </tr>
                            <tr>
                                <td>UserID: <%= user.oid %></td>
                            </tr>
                        </table>
                        <hr style="background-color: white;">
                        <a class="btn profileEdit-btn" href="/login/?p=B2C_1A_EMBEDDEDSIGNIN_PROFILEEDIT" ><i class="fas fa-pencil-alt"></i> Edit Profile</a>
                        <a class="btn profileEdit-btn" href="/login/?p=B2C_1A_EMBEDDEDSIGNIN_PASSWORDRESET"><i class="fas fa-key" aria-hidden="true"></i> Reset Password</a>
                    </div>                     
                    <% } %> 
                </div>
            </div>
    
        </div>

    </div>

    <div class="footer">
        <p>B2C OIDC WebApp - Passport Application</p>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<!-- <img src="/images/BeeLogo.png" width="50" height="50" alt=""> -->